/*#region Root*/

:root {
    --background-colour: #1a1625;
    --text-colour: #faf5ef;
    --primary-colour: #2f2b3a;
    --secondary-colour: #46424f;
    --accent-colour: #443e94;
    --output-colour: rgba(70, 66, 79, 0.3);
    --header-height: 80px;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: var(--header-height);
}

@media screen and (max-width: 768px) {
    #root {
        max-width: 768px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*#endregion*/


/*#region General*/

.general-button {
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    border: 1px solid var(--accent-colour);
    background-color: var(--background-colour);
    color: var(--text-colour);
}
    .general-button:hover {
        background-color: var(--accent-colour);
    }
    .general-button:disabled {
        background-color: var(--background-colour);
        opacity: 0.4;
        border: 1px solid var(--accent-colour);
        pointer-events: none;
    }

.warning-button {
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    border: 1px solid var(--accent-colour);
    background-color: orangered;
    color: var(--text-colour);
}
    .warning-button:hover {
        color: var(--text-colour);
        background-color: darkred;
    }

.general-input, .general-select, .general-output {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--background-colour);
    border: 2px solid var(--accent-colour);
    border-radius: 4px;
    color: var(--text-colour);
    max-width: 200px;
}
    .general-input:disabled, .general-select:disabled {
        opacity: 0.4;
        pointer-events: none;
    }

.general-output {
    background-color: var(--output-colour);
    border: 2px solid var(--accent-colour);
}

.general-text-area {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--background-colour);
    border: 2px solid var(--accent-colour);
    border-radius: 4px;
    color: var(--text-colour);
    resize: none;
}

.flex-container {
    display: flex;
    align-items: center;
}
    .flex-container.column {
        flex-direction: column;
    }
    .flex-container.row {
        flex-direction: row;
    }

.message-container {
    margin-top: 0px;
    padding-top: 0px;
    height: 60px;
}

.rolling-wire-switch {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
    padding: 0px;
}

.settings-icon {
    padding: 5px;
    background-color: var(--background-colour);
    border-radius: 100px;
    margin-left: 5px;
    color: var(--text-colour);
}
    .settings-icon:hover {
        background-color: var(--accent-colour);
    }
    .settings-icon:focus {
        outline: none;
    }

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--accent-colour);
    --_m: conic-gradient(#0000 10%,#000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

.email-loader-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
}

.email-loader {
    color: var(--text-colour);
    width: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
    transform: translateX(-38px);
    animation: l21 .5s infinite alternate linear;
}
@keyframes l21 {
    50% {
        box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px
    }
    100% {
        box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px
    }
}

/*#endregion */


/*#region Text*/

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: var(--text-colour);
}

p {
    color: var(--text-colour);
}

.pre-wrap {
    white-space: pre-wrap;
    color: var(--text-colour);
}

.link-text {
    color: var(--text-colour);
    font-size: 18px;
}
    .link-text:hover {
        color: var(--accent-colour);
    }

.padded-text {
    padding: 8px;
}

.warning-text {
    color: red;
}

.success-text {
    color: green;
}

.configure-email-text {
    white-space: pre-wrap;
    color: var(--text-colour);
    width: 30vw;
}

.hover-text-container {
    position: relative;
    display: inline-block;
}

.hover-text {
    position: absolute;
    bottom: 90%;
    transform: translateX(-90%);
    background: var(--background-colour);
    color: var(--text-colour);
    padding: 5px 10px;
    border: 1px solid var(--accent-colour);
    border-radius: 5px;
    font-size: 16px;
    white-space: nowrap;
}

/*#endregion */


/*#region Tables*/

table {
    border-collapse: collapse;
    width: 100%;
    color: var(--text-colour);
}
    table td, table th {
        padding: 6px;
    }

.read-only-table td {
    padding: 12px;
    border-block: 1px solid var(--text-colour);
}
.read-only-table th {
    padding: 12px;
}

.calculation-table {
    width: 30vw;
}

.table-break {
    padding: 24px;
}

.table-scroll {
    overflow-y: auto;
    height: 55vh;
    padding-right: 16px;
    scrollbar-color: var(--text-colour) var(--background-colour);
}

.action-icons {
    display: flex;
    flex-direction: row;
}

/*#endregion */


/*#region Navbar*/

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(100% - var(--header-height));
    width: 15vw;
    min-width: 250px;
    padding: 20px;
    text-align: left;
    background-color: var(--secondary-colour);
    color: var(--text-colour);
    transition: transform 0.3s;
    will-change: transform;
    z-index: 3;
}
    .navbar ul {
        list-style: none;
        margin: 20px;
        padding: 0px;
    }
    .navbar.collapsed {
        transform: translateX(-100%);
    }
    .navbar.expanded {
        transform: translateX(0);
    }

.submenu {
    transition: transform 0.3s;
}
    .submenu.collapsed {
        transform: translateX(-150%);
    }
    .submenu.expanded {
        transform: translateX(0);
    }

.navbar-links {
    color: var(--text-colour);
    font-size: 24px;
}
    .navbar-links:hover {
        color: var(--accent-colour);
    }

.login-logout-icon-spacing {
    margin-right: 16px;
    margin-bottom: 3px; 
}

.navbar-icons-container {
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.header {
    width: 100vw;
    height: var(--header-height);
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: var(--primary-colour);
}

.header-icon {
    padding: 10px;
    margin: 10px 15px 15px 10px;
    background-color: transparent;
    color: var(--text-colour);
    border: none;
}
    .header-icon:focus {
        outline: none;
    }

.header-right-icon {
    margin-right: 30px
}

.header-text {
    margin: 0px;
    text-align: left;
    padding-left: 15vw;
    font-size: 32px;
}

/*#endregion*/


/*#region Sidebar*/

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: var(--header-height);
    right: 0;
    height: calc(100% - var(--header-height));
    width: 25vw;
    min-width: 350px;
    background-color: var(--secondary-colour);
    color: var(--background-colour);
    transition: transform 0.3s;
    will-change: transform;
    z-index: 2;
}
    .sidebar.expanded {
        transform: translateX(0);
    }
    .sidebar.collapsed {
        transform: translateX(100%);
    }

.sidebar-content {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
}

.history {
    list-style: none;
    color: var(--text-colour);
}

.history-scroll {
    overflow-y: auto;
    height: calc(75vh - var(--header-height));
    scrollbar-color: var(--text-colour) var(--secondary-colour);
    padding: 16px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(80vh - var(--header-height));
}
    .information ul {
        list-style: none;
    }

.sidebar-close {
    padding: 5px;
    margin: 10px 0px 0px 10px;
    background-color: transparent;
    color: var(--text-colour);
    border: none;
}
    .sidebar-close:focus {
        outline: none;
    }

.calculator-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.calculator-input {
    min-width: 300px;
    padding: 16px;
    padding-top: 32px;
    margin: 24px 0px;
    font-size: larger;
    border: 2px solid var(--text-colour);
}
    .calculator-input:focus {
        outline: none;
    }

.calculator-type {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    color: var(--text-colour);
}

.calculator-first-number {
    position: absolute;
    transform: translateY(50%);
    left: 20%;
    color: var(--text-colour);
    font-size: medium;
}

.calculator-button {
    background: var(--background-colour);
    border: 1px solid var(--text-colour);
    font-size: larger;
}

.equals-button {
    width: 130px;
}

/*#endregion */


/*#region Popups*/

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-box {
    width: 30vw;
    background-color: var(--background-colour);
    padding: 20px;
    border: 2px solid var(--accent-colour);
    border-radius: 10px;
    text-align: center;
    color: var(--text-colour);
}
    .popup-box button {
        margin: 5px;
    }

.popup-box-error {
    width: 20vw;
    background-color: red;
    color: white;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 11;
}

.popup-code-input {
    width: 50%;
    padding: 12px;
    font-size: 32px;
    box-sizing: border-box;
    background-color: var(--background-colour);
    border: 2px solid var(--accent-colour);
    border-radius: 4px;
    color: var(--text-colour);
    text-align: center;
}

/*#endregion*/


/*#region Custom Input*/

.custom-input-container {
    position: relative;
    width: 100%;
}

.custom-input-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    padding: 0px 4px;
    margin: 0px;
    color: var(--text-colour);
    background-color: transparent;
    font-size: 12px;
    border: none;
    border-radius: 0px;
}
    .custom-input-buttons:hover {
        outline: none;
    }
    .custom-input-buttons:focus {
        outline: none;
    }
    .custom-input-buttons:disabled {
        display: none;
    }
    .custom-input-buttons:first-of-type {
        top: 25%;
    }
    .custom-input-buttons:last-of-type {
        top: 75%;
    }

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/*#endregion*/


/*#region Other*/

.break-top {
    padding-top: 24px;
}

.break-bottom {
    padding-bottom: 24px;
}

.tight-text {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tight-top {
    padding-top: 0px;
    margin-top: 0px;
}

.tight-bottom {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.left-align {
    text-align: left;
}

.table-margin-top {
    margin-top: 5vh;
}

.email-selector-width {
    min-width: 150px;
}

.searchbar-width {
    min-width: 350px;
}

.regenerate-api-tick {
    padding-left: 8px;
    color: green;
}

/*#endregion*/


/*#region Mobile*/
@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        min-width: 0;
        padding: 10px;
    }
        .navbar ul {
            margin: 10px;
            width: 50%;
        }

    .header-icon {
        padding: 5px;
        margin: 5px;
    }

    .header-text {
        padding-left: 12px;
        font-size: 24px;
    }

    .theme-buttons {
        margin: 10px;
    }

    .sidebar.expanded {
        width: 100%;
    }

    .popup-box {
        width: 75vw;
    }

    .read-only-table td {
        padding: 6px;
    }

    .editable-table {
        padding: 0px;
        margin: 0px;
    }

    .settings-icon {
        margin: 0px;
    }

    .navbar-icon {
        margin-left: 5px;
    }

    .general-button {
        margin: 20px 5px;
    }

    .rolling-wire-switch {
        justify-content: center;
        width: auto;
    }

    .table-scroll {
        padding-right: 8px;
    }

    .popup-code-input {
        width: 75%;
    }

    .custom-input-buttons {
        right: 8px;
        padding: 0px 6px;
    }

    .calculator-type {
        right: 15%;
    }

    .calculator-first-number {
        transform: translateY(60%);
        left: 15%;
    }

}
/*#endregion*/